/*
	Font Imports
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");










/*
	Bootstrap Modifications & Extensions
*/

:root {
	--font-family-sans-serif: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.cursor-pointer { cursor: pointer; }

.dropdown-menu.fade { display: block; opacity: 0; pointer-events: none; }
.show > .dropdown-menu.fade { pointer-events: auto !important; opacity: 1 !important; }

.elevate,   .elevate:hover,   .elevate:active,   .elevate:focus,
.elevate-1, .elevate-1:hover, .elevate-1:active, .elevate-1:focus,
.elevate-2, .elevate-2:hover, .elevate-2:active, .elevate-2:focus,
.elevate-3, .elevate-3:hover, .elevate-3:active, .elevate-3:focus,
.elevate-4, .elevate-4:hover, .elevate-4:active, .elevate-4:focus,
.elevate-5, .elevate-5:hover, .elevate-5:active, .elevate-5:focus {
	position: relative;
	box-shadow: var(--elevate-z2) !important;
	border: 0;
	-webkit-transition: box-shadow .2s ease-in-out, -webkit-transform .2s ease-in-out;
	transition: box-shadow .2s ease-in-out, -webkit-transform .2s ease-in-out;
	transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
	transition: transform .2s ease-in-out, box-shadow .2s ease-in-out, -webkit-transform .2s ease-in-out;
}
.elevate-2, .elevate-2:hover, .elevate-2:active, .elevate-2:focus { box-shadow: var(--elevate-z3) !important; }
.elevate-3, .elevate-3:hover, .elevate-3:active, .elevate-3:focus { box-shadow: var(--elevate-z4) !important; }
.elevate-4, .elevate-4:hover, .elevate-4:active, .elevate-4:focus { box-shadow: var(--elevate-z6) !important; }
.elevate-5, .elevate-5:hover, .elevate-5:active, .elevate-5:focus { box-shadow: var(--elevate-z8) !important; }

.w-100 { width: 100% !important; }
.w-90  { width:  90% !important; }
.w-80  { width:  80% !important; }
.w-75  { width:  75% !important; }
.w-70  { width:  70% !important; }
.w-60  { width:  60% !important; }
.w-50  { width:  50% !important; }
.w-40  { width:  40% !important; }
.w-30  { width:  30% !important; }
.w-25  { width:  25% !important; }
.w-20  { width:  20% !important; }
.w-10  { width:  10% !important; }
@media (min-width:576px) {
	.w-sm-100 { width: 100% !important; }
	.w-sm-90  { width:  90% !important; }
	.w-sm-80  { width:  80% !important; }
	.w-sm-75  { width:  75% !important; }
	.w-sm-70  { width:  70% !important; }
	.w-sm-60  { width:  60% !important; }
	.w-sm-50  { width:  50% !important; }
	.w-sm-40  { width:  40% !important; }
	.w-sm-30  { width:  30% !important; }
	.w-sm-25  { width:  25% !important; }
	.w-sm-20  { width:  20% !important; }
	.w-sm-10  { width:  10% !important; }
}
@media (min-width:768px) {
	.w-md-100 { width: 100% !important; }
	.w-md-90  { width:  90% !important; }
	.w-md-80  { width:  80% !important; }
	.w-md-75  { width:  75% !important; }
	.w-md-70  { width:  70% !important; }
	.w-md-60  { width:  60% !important; }
	.w-md-50  { width:  50% !important; }
	.w-md-40  { width:  40% !important; }
	.w-md-30  { width:  30% !important; }
	.w-md-25  { width:  25% !important; }
	.w-md-20  { width:  20% !important; }
	.w-md-10  { width:  10% !important; }
}
@media (min-width:992px) {
	.w-lg-100 { width: 100% !important; }
	.w-lg-90  { width:  90% !important; }
	.w-lg-80  { width:  80% !important; }
	.w-lg-75  { width:  75% !important; }
	.w-lg-70  { width:  70% !important; }
	.w-lg-60  { width:  60% !important; }
	.w-lg-50  { width:  50% !important; }
	.w-lg-40  { width:  40% !important; }
	.w-lg-30  { width:  30% !important; }
	.w-lg-25  { width:  25% !important; }
	.w-lg-20  { width:  20% !important; }
	.w-lg-10  { width:  10% !important; }
}
@media (min-width:1200px) {
	.w-xl-100 { width: 100% !important; }
	.w-xl-90  { width:  90% !important; }
	.w-xl-80  { width:  80% !important; }
	.w-xl-75  { width:  75% !important; }
	.w-xl-70  { width:  70% !important; }
	.w-xl-60  { width:  60% !important; }
	.w-xl-50  { width:  50% !important; }
	.w-xl-40  { width:  40% !important; }
	.w-xl-30  { width:  30% !important; }
	.w-xl-25  { width:  25% !important; }
	.w-xl-20  { width:  20% !important; }
	.w-xl-10  { width:  10% !important; }
}

/* Fix Problem with Options appearing white on dark theme in Chrome */
option { background: #eeeeee; color: #111111; }
optgroup { background: #eeeeee; color: #111111; }
/*option:not(:disabled) { color: #202020; }
optgroup:not(:disabled) { color: #202020; }*/

.alert-notification {
	width: auto;
	min-width: 20rem;
	max-width: 20rem;
	border: 0;
	box-shadow: var(--elevate-z8);
	color: white;
}

.alert-notification .close {
	text-shadow: none;
	color: white;
	outline: 0;
}

/* TODO: CHECK IF CAN REMOVE */
.custom-control-label::before {
	border-color: gray;
}










/*
	Custom Theme - batterX ;)
*/

:root {
	--color-body: #f0f0f0;
	--custom-navbar-color: #232323;
	--color-input-border: gray;
	--color-input: var(--color-success);
}

.theme-inverse {
	--custom-navbar-color: #232323;
	--color-input: #87d403;
	--color-link: #87d403;
	--color-link-hover: #7fc900;
}

.elevate-n1, .elevate-n2, .elevate-n3 { border: 0; }
.elevate-n1 { box-shadow: 0 -3px 1px -2px rgba(0,0,0,.2),0 -2px 2px 0 rgba(0,0,0,.14),0 -1px 5px 0 rgba(0,0,0,.12); }
.elevate-n2 { box-shadow: 0 -3px 3px -2px rgba(0,0,0,.2),0 -3px 4px 0 rgba(0,0,0,.14),0 -1px 8px 0 rgba(0,0,0,.12); }
.elevate-n3 { box-shadow: 0 -2px 4px -1px rgba(0,0,0,.2),0 -4px 5px 0 rgba(0,0,0,.14),0 -1px 10px 0 rgba(0,0,0,.12); }

@media (min-width:576px) {
	.modal-sm {
		max-width: 400px;
	}
}




















/*
	Body & Progress-Bar
*/

body {
	padding-bottom: 50px;
}

#progress {
	z-index: 1000;
	position: fixed;
	width: 100%; /* = 100vw - scrollBar */
	left: 0;
	bottom: 0;
	background: var(--color-main);
	display: flex;
}

#progress > div:first-child {
	flex-grow: 1;
	flex-shrink: 1;
	padding: 1rem 1rem;
}
#progress > div:first-child > .progress-bar {
	width: 0%;
}

#progress > div:last-child {
	width: 250px;
}
#progress > div:last-child > #btn_next {
	width: 100%;
	height: 100%;
	border-radius: 0;
}
#progress > div:last-child > #btn_next:disabled {
	background-color: #999999;
}




















/*
	Other Suff
*/

.modal-content {
	border: 0;
}

.custom-select:disabled {
	color: var(--color-on-input);
}

.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
	background-color: #73c686;
}










/*
	Loading / Error / Success
*/

.loading {
	display: none;
	width: 2rem;
	height: 2rem;
	min-width: 2rem;
	min-height: 2rem;
	vertical-align: text-bottom;
	border: .15rem solid currentColor;
	border-right-color: transparent;
	border-radius: 50rem;
	-webkit-animation: spinner-border .75s linear infinite;
	animation: spinner-border .75s linear infinite;
}

.success {
	display: none;
	width: 2rem;
	height: 2rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url(../img/ic_success.png);
}

.error {
	display: none;
	width: 2rem;
	height: 2rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url(../img/ic_error.png);
}
