* {	user-select: none }



body {
	margin: 0;
}

.container {
	max-width: 800px !important;
}

.container > div {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container > div > div {
	width: 100%;
	text-align: center;
}

.logo {
	background-image: url(../img/logo_trax.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 20vmin;
}

h1 {
	margin: 0;
	font-size: 5vmin;
	margin-top: 7.5vmin;
}



.row, .col {
	margin: 0;
	padding: 0;
}

.col {
	margin-top: 2.5vmin !important;
	cursor: pointer;
	border-radius: 1vmin;
	padding-top: 3.75vmin !important;
	padding-bottom: 3.75vmin !important;
}
.col:hover  { background: rgba(0, 0, 0, 0.10); }
.col:active { background: rgba(0, 0, 0, 0.15); }

.col > div {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 10vmin;
}

.col span {
	display: block;
	font-size: 2.5vmin;
	margin-top: 1.5vmin;
}



#lang_en > div { background-image: url(../img/lang_en.png) }
#lang_de > div { background-image: url(../img/lang_de.png) }
#lang_fr > div { background-image: url(../img/lang_fr.png) }
#lang_cs > div { background-image: url(../img/lang_cs.png) }